fastapi
uvicorn
gunicorn

#for database
sqlalchemy
psycopg2-binary
psycopg2

#for loading environment variables
python-dotenv

#for email validation
pydantic[email]

#hashing
passlib[bcrypt]

#for testing
pytest
requests
